*{margin: 0 ;
    padding: 0;
    box-sizing: border-box;}
.img{
    background-image: url(../image/ic2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}.line1{ width: 1px; margin-left: 7px;
    height: 60px;
    background-color: rgb(119, 120, 121);}

    body {
        background-color: #e6f1fe;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    a:hover {
        color: #b9b9b9;
        text-shadow: 0 0 5px rgb(140, 142, 143);
    }
    
    .eff-1 {
        position: relative;
    }
    
    .eff-1::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: #217ba154;
        opacity: 0.5;
    }
    
    .eff-1:hover::after {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transition: all 0.5s;
    }
    
    .eff-1::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        background-color: #217ba154;
        opacity: 0.5;
    }
    
    .eff-1:hover::before {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transition: all 0.5s;
    }
    
    /* //////////////////////////// */
    .nav-link {
        transition: 0.5s;
    }
    
    .nav-link:hover {
        text-shadow: 0 0 5px rgb(140, 142, 143);
    }
    
    .form-control:focus {
        border: none !important;
        box-shadow: 0 0 5px 2px rgb(159, 161, 161);
    }
    
    /*Aside*/
    .aside-icon {
        width: 80px;
        height: 80px;
    }
    
    .aside-icon a i {
        text-align: center;
        font-size: 60px;
        line-height: 80px;
        color:rgba(104, 174, 203, 0.7) ;
    }
    
    .aside-icon:hover {
        text-shadow: 0 0 15px #ffffff;
    }
    
    /* /////////////////////////////////////////// */
    .card-header,
    .card,
    .tran {
        border-radius: 0 !important;
    }
    
    /* img */
    .fixed-img {
        background-image: url(../image/ah1.jpeg);
        background-attachment: fixed;
        background-size: cover;
        height: 400px;
    }
    
    /* ////////////////////////////// */
    .card-my1 {
        border-radius: 15px !important;
    }
    
    .card-my2 {
        height: 400px;
        background-size: cover;
        object-fit: cover;
    
    }
    
    .fixed-image1 {
        background-image: url(../images/parallax-bg.jpg);
    }
    
    .fixed-image2 {
        background-image: url(../images/parallax-bg-2.jpg);
    }
    
    /*thank*/
    .thanks {
        margin: 15vh;
    }
    
    .thankcard {
        border: none;
        transition: all 150ms;
        overflow: hidden;
        border-radius: 20px;
        min-height: 450px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    }
    
    .card.card-bg {
        transition: all 150ms;
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .card.card-bg:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
    
    }
    
    .card.card-bg:hover {
        transform: scale(0.9);
        box-shadow: 0 0 5px 2px rgba(108, 200, 243, 0.3);
        background-size: 130%;
        transition: all 150ms;
    }
    
    .card.card-bg:hover .card-img-overlay {
        background: linear-gradient(0deg, rgba(121, 219, 254, 0.685) 0%, #95c8f28c 100%);
    }
    
    .card .card-footer {
        background: none;
        border-top: none;
    }
    
    .card .card-footer .media img {
        border: solid 3px rgba(255, 255, 255, 0.3);
    }
    
    
    .card .card-body {
        transition: all 150ms;
    }
    
    .card-hover:hover {
        cursor: pointer;
        transition: all 150ms;
    }
    
    .card-hover:hover .card-body {
        margin-top: 30px;
        transition: all 150ms;
    }
    
    .card-hover .card-img-overlay {
        transition: all 800ms;
        background: linear-gradient(0deg, rgba(175, 225, 247, 0.379) 0%, #499ebb 100%);
    }
    
    /* //////////////////////// */
    .card-custom {
        border-radius: 30px !important;
    }
    
    .card-img-custom {
        background-image: url(../image/ah1.jpeg);
        width: 50%;
        height: 400px;
        background-size: cover;
        clip-path: polygon(38% 0, 100% 0%, 100% 100%, 60% 100%);
        transition: 0.5s;
        border-radius: 30px;
    }
    .card-img-custom1 {
        background-image: url(../image/as1.jpeg);
        width: 50%;
        height: 400px;
        background-size: cover;
        clip-path: polygon(38% 0, 100% 0%, 100% 100%, 60% 100%);
        transition: 0.5s;
        border-radius: 30px;
    }  .card-img-custom2 {
        background-image: url(../image/lu1.jpg);
        width: 50%;
        height: 400px;
        background-size: cover;
        clip-path: polygon(38% 0, 100% 0%, 100% 100%, 60% 100%);
        transition: 0.5s;
        border-radius: 30px;
    }
    
    .card-custom:hover .card-img-custom {
        background-position: center;
    }
    .card-custom:hover .card-img-custom1 {
        background-position: center;
    }.card-custom:hover .card-img-custom2 {
        background-position: center;
    }
    .card-body-custom {
        flex: 1;
    }
    
    .card-title::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(84, 92, 94);
        transition: 0.5s;
    }
    
    .card-custom:hover .card-title::after {
        width: 100%;
        height: 5px;
    }
    
    /* ////////////////// */
    
    .Media {
        width: 200px;
        height: 200px;
        box-shadow: 0 0 10px 5px;
    }
    
    .Media-title {
        text-transform: uppercase;
    }
    
    .Media i {
        font-size: 90px;
        display: block;
        margin: 10px auto;
        color: #1968dfda;
        cursor: pointer;
    }
    
    .Media a {
        display: block;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }
    
    .footer-item {
        width: 30% !important;
        height: 100%;
        line-height: 40px;
        margin-top: 50px;
    }
    
    .footer-item-cards img {
        display: block;
        margin-top: 20px;
        margin: 10px 0 20px 70px;
        cursor: pointer;
        width: 50px;
    }
    
    @media (max-width: 1200px) {
        .nav-link {
            font-size: 15px !important;
            padding: 11px !important;
        }
    
        .aside-icon {
            width: 60px;
            height: 55px;
        }
    
        .aside-icon a i {
            text-align: center;
            font-size: 45px;
            line-height: 50px;
        }
    
        .aside-icon:hover {
            text-shadow: 0 0 5px #fff;
        }
    
        .card-custom {
            flex-direction: column !important;
            text-align: center !important;
            width: 60% !important;
            margin: 50px auto !important;
            border-radius: 20px !important;
        }
    
        .card-img-custom {
            width: 100% !important;
            height: 350px !important;
            clip-path: none !important;
            background-position: center !important;
            border-radius: 20px;
        }
    
        .card-title {
            width: 100% !important;
            font-size: 25px !important;
            margin: 5px !important;
        }
    
        .card-body-custom {
            padding: 15px !important;
        }
    
        .card-text {
            font-size: 10px !important;
            padding: 5px !important;
        }
    
        .card-custom:hover .card-title::after {
            width: 0;
            height: 0;
        }
    }
    
    
    
    
    @media (max-width: 992px) {
        .aside-icon {
            width: 60px;
            height: 55px;
        }
    
        .aside-icon a i {
            text-align: center;
            font-size: 45px;
            line-height: 50px;
        }
    
        .aside-icon:hover {
            text-shadow: 0 0 5px #fff;
        }
    
        .card-custom {
            flex-direction: column !important;
            text-align: center !important;
            width: 400px !important;
            margin: 50px auto !important;
            border-radius: 20px !important;
        }
    
        .card-img-custom {
            width: 100% !important;
            height: 350px !important;
            clip-path: none !important;
            background-position: center !important;
            border-radius: 20px;
        }
            .thankcard {
                min-height: 450px;
                min-width: 300px;
            }
    
            .thankcard .card-title {
                font-size: 22px !important;
            }
    
        .card-title {
            width: 100% !important;
            font-size: 25px !important;
            margin: 5px !important;
        }
    
        .card-body-custom {
            padding: 5px !important;
        }
    
        .card-text {
            font-size: 10px !important;
            padding: 5px !important;
        }
    
        .card-custom:hover .card-title::after {
            width: 0;
            height: 0;
        }
    
        .Media {
            margin: 20px 0;
        }
    }
    
    @media (max-width: 768px) {
    
        .carousel.slide {
            height: 370px !important;
        }
    
        .carousel-item img {
            height: 370px !important;
        }
    
        .aside-icon {
            width: 50px;
            height: 50px;
        }
    
        .aside-icon a i {
            text-align: center;
            font-size: 40px;
            line-height: 50px;
        }
    
        .aside-icon:hover {
            text-shadow: 0 0 5px #fff;
        }
    
            .thankcard {
                min-height: 450px;
                min-width: 400px;
            }
    
            .thankcard .card-title {
                font-size: 22px !important;
            }
                    .rounded-circle {
                        width: 80px !important;
                    }
    
        .card-my1 {
            max-width: 400px !important;
        }
    
        /* //// */
        .card-custom {
            flex-direction: column !important;
            text-align: center !important;
            width: 400px !important;
            margin: 50px auto !important;
            border-radius: 20px !important;
        }
    
        .card-img-custom {
            width: 100% !important;
            height: 350px !important;
            clip-path: none !important;
            background-position: center !important;
            border-radius: 20px;
        }
    
        .card-title {
            width: 100% !important;
            font-size: 25px !important;
            margin: 5px !important;
        }
    
        .card-body-custom {
            padding: 5px !important;
        }
    
        .card-text {
            font-size: 10px !important;
            padding: 5px !important;
        }
    
        .card-custom:hover .card-title::after {
            width: 0;
            height: 0;
        }
    
        .footer-item {
            line-height: 25px;
            margin-top: 30px;
        }
    
        .footer-item h3 {
            font-size: 22px;
        }
    
        .Media {
            margin: 20px 0;
        }
    
    }
    
    @media (max-width: 576px) {
        .carousel.slide {
            height: 370px !important;
        }
    
        .carousel-item img {
            height: 370px !important;
        }
    
        .aside-icon {
            width: 30px;
            height: 40px;
        }
    
        .aside-icon a i {
            text-align: center;
            font-size: 30px;
            line-height: 40px;
        }
    
        .aside-icon:hover {
            text-shadow: 0 0 5px #fff;
        }
    
        .thankcard {
            min-height: 400px;
            min-width: 300px;
        }
        .thankcard .card-title{
            font-size: 19px !important;
        }
        .rounded-circle{
            width: 60px !important;
        }
    
        .card-my1 {
            max-width: 400px !important;
        }
    
        /* /////////// */
        .card-custom {
            flex-direction: column !important;
            text-align: center !important;
            width: 400px !important;
            margin: 50px auto !important;
            border-radius: 20px !important;
        }
    
        .card-img-custom {
            width: 100% !important;
            height: 350px !important;
            clip-path: none !important;
            background-position: center !important;
            border-radius: 20px;
        }
    
        .card-title {
            width: 100% !important;
            font-size: 25px !important;
            margin: 5px !important;
        }
    
        .card-body-custom {
            padding: 5px !important;
        }
    
        .card-text {
            font-size: 10px !important;
            padding: 5px !important;
        }
    
        .card-custom:hover .card-title::after {
            width: 0;
            height: 0;
        }
    
        .Media {
            margin: 20px 0;
        }
    
    }

    .section6{
        overflow: hidden;
        float: left;
        width: 100vw;
        height: 50vh;
    }
    .overlay{
        float: left;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0;
        background-color:  rgba(0, 0, 0 , 0.5) ;
    }
    .pic6{
        
        width: 100vw;
        height: 100vh;
        background-image: url(../image/lu1.jpg);
        background-attachment: fixed;
        background-size: cover;
       /* opacity:0.3;*/
        float: left;
        
    }
    .sec6-container{
        width: 80%;
        margin: auto;
    }

    .section7{
        overflow: hidden;
        float: left;
        width: 100vw;
        height: 50vh;
    }
    .overlay{
        float: left;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0;
        background-color:  rgba(0, 0, 0 , 0.5) ;
    }
    .pic7{
        
        width: 100vw;
        height: 100vh;
        background-image: url(../image/al1.jpg);
        background-attachment: fixed;
        background-size: cover;
       /* opacity:0.3;*/
        float: left;
        
    }
    .sec7-container{
        width: 80%;
        margin: auto;
    }
        
        